export PROJECT_ROOT=$(pwd)
export APISERVER_PORT=5000
export APISERVER_HOST=localhost
export DB_NAME=asyncapi
export DB_HOST=127.0.0.1
export DB_USER=postgres
export DB_PASSWORD=root
export DB_PORT=5432
export DB_PORT_TEST=5433
export DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable
export JWT_SECRET=private-key

export AWS_ACCESS_KEY_ID=dummy
export AWS_SECRET_ACCESS_KEY=dummy
export AWS_REGION=us-west-2
export SQS_QUEUE=reports-sqs-SQS_QUEUE
export S3_BUCKET=api-reports

export TF_VAR_aws_access_key_id=${AWS_ACCESS_KEY_ID}
export TF_VAR_aws_secret_access_key=${AWS_SECRET_ACCESS_KEY}
export TF_VAR_aws_region=${AWS_REGION}
export TF_VAR_s3_bucket=${S3_BUCKET}
export TF_VAR_sqs_queue=${SQS_QUEUE}

